html {
    font-family: Helvetica Neue, Arial, sans-serif;
}

.header {
	border-bottom: 2px white solid;
}

h1 {
    display: inline-block
}

h2 {
    display: inline-block;
    margin-left: 20px;
    color: #ddd;
}

.main {
    margin: 10px;
}

form, pre {
    margin: 0px;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    font-size: 10pt;
}

#erdText {
    margin-top: 10px;
    min-width: 400px;
    height: 100%;
    min-height: 500px;
}

a#generateLink {
    float: left;
    padding: 8px;
    margin: 10px;
    background-color: #808080;
    text-decoration: none;
    font-size: 10pt;
    color: #ffffff;
    display: block;
    width: 200px;
    text-align: center;
}

a#generateLink:hover {
    box-shadow: 1px 1px 1px #888888;
}

img {
    max-width: 98%;
    margin: auto;
    display: block;
}

.editorArea {
    display: block;
    border: 1px solid silver;
    float: left;
    width: 48%;
    margin-bottom: 30px;
}

.diagramArea {
    display: block;
    float : right;
    width: 48%;
    margin-bottom: 30px;
}

#status {
    display: block;
    float: right;
    border: 1px solid #A0A0A0;
    background-color: #E0E0E0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.editorArea .footer {
    border-top: 1px solid silver;
}
.footer {
    clear: both;
    font-size: 8pt;
    color: silver;
    text-align: right;
    padding-right: 10px;
}
.parseERDNotice.footer {
    text-align: left;
    padding-left: 10px;
}
.footer a {
    color: gray;
}
.footer .bookmarklet {
    font-size: 10pt;
}